<launch>
    <env name="ROS_MASTER_URI" value="http:10.0.0.244:11311"/>
    
    <node name="joystick" pkg="joy" type="joy_node">
        <param name="dev" value="/dev/input/js0"/>
        <param name="autorepeat_rate" value="11.0"/>
    </node>
    <node name="teleop" pkg="fermi_control" type="teleop.py" output="screen"/>
</launch>